*{
	color: rgb(255, 255, 235);
	background-color: rgb(130, 0, 5);
	cursor: url('assets/pentagram.png'), auto;
}
@font-face {
	font-family: genFont;
	src: url(assets/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf);
}
@font-face{
	font-family: secFont;
	src: url(assets/Spectral/Spectral-Medium.ttf); 
}
body{
}
header{
	font-family: genFont;
}
footer{
	font-family: genFont;
}

.posts{
	width: 70%;
	padding: 5% 0 5% 10%;
}
.posts h1{
	font-family: secFont;
}
.posts p {
	font-family:secFont;
}
.poem{
	min-height: 50%;
	padding: 5% 0 5% 0%;
}
.separator {}
.about{}

